.login {
    margin-top: 80px;
    margin-bottom: 100px;
}

.login .form {
    background-color: #3F6FB7;
    height: 416px;
}

.login img {
    max-width: 100%;
    max-height: 100%;
}

.error-message {
    padding-left: 22px;
    color: red;
    font-weight: bold
}

h1 {
    margin-bottom: 30px;
}

#login-form {
    margin: 20px;
    padding-top: 20px;
    color: white;
}

.btn-outline-primary {
    margin-top: 20px;
    background-color: #3F6FB7;
    border-color: white;
    border-width: 2px;
    width: 100%;
    color: white;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #325892;
    border-color: white;
}
